.pastsignin-container{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pastsignin-container>section:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pastsignin-container>section:first-child>div:nth-child(2){
    margin-top: 5px;
}

.userData-list{
    margin-top: 25px;
    border-collapse: collapse;
}

.userData-list>tbody>tr{
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 5px;
}

.userData-list>tbody>tr>td:nth-child(1){
    border: 1px solid black;
}

.userData-list>tbody>tr>td{
    padding: 20px;
    
}

.edit-user-details{
    cursor: pointer;
}

.edit-ip{
    outline: none;
    margin-right: 5px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid gray;
}

#update-details-btn{
    margin-top: 15px;
    padding: 7px;
    background-color: rgb(0, 110, 255);
    font-size: 13px;
    font-weight: 500;
    color: #FFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#update-btn{
    height: 30px;
    width: 75px;
    margin-left: 5px;
    background-color: rgb(216, 216, 216);
    font-size: 13px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#update-btn:hover{
    background-color: rgb(162, 163, 163);
}

#update-details-btn:hover{
    background-color: black;
}

#logout-btn{
    margin-top: 25px;
    width: 75px;
    height: 35px;
    background-color: rgb(0, 110, 255);
    font-size: 13px;
    font-weight: 500;
    color: #FFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#logout-btn:hover{
    background-color: rgb(243, 43, 43);
}